body {
	font-size: 16px;
}

h1 {
	color: red;
	text-align: center;
}

h2 {

}

h3 {
	text-align: center;	
}

fieldset {
	margin-top: 20px;
	border: 1px solid #c0c0c0;
	background-color: #e0e0e0;
}

legend {
	font-size: 14pt;
	color: #404040;
}

body {
	width: 800px;
}

.uwaga {
	color: #203030;
	font-size: 12px;
}

input {
	color: blue;
}

textarea {
	color: blue;
}